/*Created beginning flex box, 
but cant seem to get the grid to show the rows*/

:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#board {
    display: flex;
    
}

.column {
    border: 2px solid black;
    height: 400px;
    width: 500px;
    background-color: white;
    flex-grow: 1;
    flex: 100%;
    flex-direction: column;
    border: 2px solid black;
}

.disc-red {
    color: red;
}