*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: wheat;
    padding-bottom: 10px;
}
h1{
    text-align: center;
    font-size: 50px;
}

h2{
    text-align: center;
    padding-top: 10px;
    color: wheat;
    font-size: 35px;

}
body{
    background-color: rgb(24, 59, 80)
}
.reset{
    position: absolute;
    top: 90%;
    left:50%;
    transform: translate(-50%);
    border:1px solid black;
    width: 6rem;
    text-align: center;
    cursor: pointer;
}

.game{
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%);
    width: 650px;
    height: 600px;
    background: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 1.5rem;
   
}

.slot{
    width:90px;
    height:90px;
    background: white;
    border:1px solid black;
    border-radius: 50%;

}

#announce-winner{
    z-index: 10;
    color: red;
    text-align: center;
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.096);
    
}

#myButton {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #854629;
    position: relative;
    top: 615px;
}
#myButton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}



